.a_bg {
    height: 100vh;
    margin-top: 0%;
    margin-left: 0%;
    display: flex;
    justify-content: center;
    background: lightgray;
}
       
.a_content {
    display: inline-block;
    border: 13px solid lightblue;
    padding: 5px 10px;
    text-align: right;
    width: 320px;
    height: 710px;
}